.DS_Store
*.bak
*.pem
logs/
logs/*
tmp/
backup/
data/
*.db
*.pyc
__pycache__/
._*
config/logs/
config/tmp/
config/backup/
config/data/
!merlynbot/config/plugins/Shuffle/data/
!merlynbot/config/plugins/Shuffle/data/*